https://tabula-py.readthedocs.io/en/latest/tabula.html#tabula.util.TabulaOption

https://www.linkedin.com/pulse/extrair-tabelas-de-um-arquivo-pdf-usando-o-python-marcelo-alexandre/?originalSubdomain=pt

In [ ]:
# !pip install tabula-py
!pip show tabula-py

Name: tabula-py
Version: 2.7.0
Summary: Simple wrapper for tabula-java, read tables from PDF into DataFrame
Home-page:
Author:
Author-email: Aki Ariga <chezou@gmail.com>
License: The MIT License (MIT)
        Copyright (c) 2016 Michiaki Ariga

        Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Location: /usr/local/lib/python3.10/dist-packages
Requires: distro, numpy, pandas
Required-by:

In [ ]:
import tabula
import pandas as pd

In [ ]:


lista_cotacao_01 = tabula.read_pdf(r"/content/drive/MyDrive/Colab/COTAÇAO_FERRAMENTAS/ELETRO TRANSOL -   284511.pdf", pages="all")
print(len(lista_cotacao_01))

6

In [ ]:
for cotacao_01 in lista_cotacao_01:
    display(cotacao_01)

Empty DataFrame
Columns: [ORÇAMENTO DE VENDA 49347
Emissão10/05/2023

Validad20/05/2023
Nro284511]
Index: []

Empty DataFrame
Columns: [Ite, Cód., Descrição, NCM, Qtd., Unit. R$, CST/CSOSN, IPI%, Vlr IPI, ICMS%, Vlr ICMS, Tot. s/IPI R$, Tot. c/IPI R$, %, ST R$, Total  R$, Entrega]
Index: []

,2,21A601,"ALICATE CORTE DIAGONAL 6""",82032010,60,"15,81",100,5,"49,31",4,"37,93","948,36","997,67","0,00","0,00.1","997,67.1",Unnamed: 0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,4,21N073,TERROMETRO DIGITAL HTR-770,90303390,30,"723,84",100,3,"705,74",4.1,"868,60","21.715,05","22.420,79","0,00","0,00.1","22.420,79.1",Unnamed: 0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,6,21B028,ALICATE DE COMPRESSÃO MATRIZ HE-650,82032010,30,"156,15",100,5,"243,59",4,"187,38","4.684,47","4.928,06","0,00","0,00.1","4.928,06.1",Unnamed: 0
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

                                            Total R$
0  Valor Líquido:R$ 36.635,95\rValor da ST:R$ 0,0...