In [1]:
import tabula
import pandas as pd
from IPython.core.display import display_html
import re
import openpyxl

In [15]:
lista_cotacao_01 = tabula.read_pdf(r"cdp19023051109003634960000000.pdf", pages="all")
print(len(lista_cotacao_01))

72

In [17]:
for cotacao_01 in lista_cotacao_01:
    display(cotacao_01)

,Ordem\r1,Produto\r41006/106,Código de Barras\r7891114008883,Emb.\r12,Qtde.\r5,"Preço Unitário\r20,87","Preço Emb.\r250,44","Substituição Tributária\r0,00",NCM\r8203.20.10,Unnamed: 0
0,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r20,8700","I Preço Total\r1.252,20","Valor líquido\r1.252,20",NaN,NaN,NaN,NaN
1,Descrição\rALICATE CORTE DIAGONAL 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ordem\r2,Produto\r44115/013,Código de Barras\r7891114039764,Emb.\r1,Qtde.\r30,"Preço Unitário\r8,02","Preço Emb.\r8,02","Substituição Tributária\r0,00",NCM\r8205.40.00,NaN
3,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r8,0200","I Preço Total\r240,60","Valor líquido\r240,60",NaN,NaN,NaN,NaN
4,Descrição\rCH FENDA CHATA ISOLADA 3X150 1/8X6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Ordem\r3,Produto\r44115/023,Código de Barras\r7891114039801,Emb.\r1,Qtde.\r30,"Preço Unitário\r9,24","Preço Emb.\r9,24","Substituição Tributária\r0,00",NCM\r8205.40.00,NaN
6,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r9,2400","I Preço Total\r277,20","Valor líquido\r277,20",NaN,NaN,NaN,NaN
7,Descrição\rCH FENDA CHATA ISOLADA 5X150 3/16X6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ordem\r4,Produto\r44115/033,Código de Barras\r7891114060133,Emb.\r1,Qtde.\r30,"Preço Unitário\r13,24","Preço Emb.\r13,24","Substituição Tributária\r0,00",NCM\r8205.40.00,NaN
9,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r13,2400","I Preço Total\r397,20","Valor líquido\r397,20",NaN,NaN,NaN,NaN
10,Descrição\rCH FENDA CHATA ISOLADA 6X200 -1/4X8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Ordem\r5,Produto\r44116/013,Código de Barras\r7891114039849,Emb.\r1,Qtde.\r30,"Preço Unitário\r9,05","Preço Emb.\r9,05","Substituição Tributária\r0,00",NCM\r8205.40.00,NaN
12,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r9,0500","I Preço Total\r271,50","Valor líquido\r271,50",NaN,NaN,NaN,NaN
13,Descrição\rCH. FENDA CRUZ. ISOLADA 3X150 1/8X6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ordem\r6,Produto\r44116/023,Código de Barras\r7891114039887,Emb.\r1,Qtde.\r30,"Preço Unitário\r9,86","Preço Emb.\r9,86","Substituição Tributária\r0,00",NCM\r8205.40.00,NaN
15,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r9,8600","I Preço Total\r295,80","Valor líquido\r295,80",NaN,NaN,NaN,NaN
16,Descrição\rCH FENDA CRUZ. ISOLADA 5X150 3/16X6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [Preço Emb.
8,02, Substituição Tributária
0,00, NCM
8205.40.00, Unnamed: 0]
Index: []

Empty DataFrame
Columns: [Preço Emb.
9,24, Substituição Tributária
0,00, NCM
8205.40.00, Unnamed: 0]
Index: []

Empty DataFrame
Columns: [Preço Emb.
13,24, Substituição Tributária
0,00, NCM
8205.40.00, Unnamed: 0]
Index: []

Empty DataFrame
Columns: [Preço Emb.
9,05, Substituição Tributária
0,00, NCM
8205.40.00, Unnamed: 0]
Index: []

Empty DataFrame
Columns: [Preço Emb.
9,86, Substituição Tributária
0,00, NCM
8205.40.00, Unnamed: 0]
Index: []

,Ordem\r7,Produto\r44116/032,Código de Barras\r7891114089028,Emb.\r1,Qtde.\r30,"Preço Unitário\r13,35","Preço Emb.\r13,35","Substituição Tributária\r0,00",NCM\r8205.40.00,Unnamed: 0
0,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r13,3500","I Preço Total\r400,50","Valor líquido\r400,50",NaN,NaN,NaN,NaN
1,Descrição\rCH. FENDA CRUZ. ISOLADA 6X200 1/4X8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ordem\r8,Produto\r44130/012,Código de Barras\r7891114069624,Emb.\r12,Qtde.\r5,"Preço Unitário\r3,98","Preço Emb.\r47,71","Substituição Tributária\r0,00",NCM\r8205.40.00,NaN
3,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r3,9758","I Preço Total\r238,55","Valor líquido\r238,55",NaN,NaN,NaN,NaN
4,Descrição\rCH. DE FENDA P. CHATA 3X125 -1/8X5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Ordem\r9,Produto\r44130/023,Código de Barras\r7891114069679,Emb.\r12,Qtde.\r5,"Preço Unitário\r5,43","Preço Emb.\r65,11","Substituição Tributária\r0,00",NCM\r8205.40.00,NaN
6,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r5,4258","I Preço Total\r325,55","Valor líquido\r325,55",NaN,NaN,NaN,NaN
7,Descrição\rCH. DE FENDA P. CHATA 5X150 -3/16X6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ordem\r10,Produto\r44130/033,Código de Barras\r7891114069716,Emb.\r12,Qtde.\r5,"Preço Unitário\r7,42","Preço Emb.\r89,04","Substituição Tributária\r0,00",NCM\r8205.40.00,NaN
9,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r7,4200","I Preço Total\r445,20","Valor líquido\r445,20",NaN,NaN,NaN,NaN
10,Descrição\rCH. DE FENDA P. CHATA 6X200 -1/4X8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Ordem\r11,Produto\r44135/011,Código de Barras\r7891114069853,Emb.\r12,Qtde.\r5,"Preço Unitário\r4,87","Preço Emb.\r58,39","Substituição Tributária\r0,00",NCM\r8205.40.00,NaN
12,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r4,8658","I Preço Total\r291,95","Valor líquido\r291,95",NaN,NaN,NaN,NaN
13,Descrição\rCH. DE FENDA P. CRUZ. 3X125 -1/8X5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ordem\r12,Produto\r44135/022,Código de Barras\r7891114069884,Emb.\r12,Qtde.\r5,"Preço Unitário\r5,80","Preço Emb.\r69,55","Substituição Tributária\r0,00",NCM\r8205.40.00,NaN
15,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r5,7958","I Preço Total\r347,75","Valor líquido\r347,75",NaN,NaN,NaN,NaN
16,Descrição\rCH. DE FENDA P. CRUZ. 5X150 -3/16X6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ordem\r13,Produto\r44135/032,Código de Barras\r7891114069914,Emb.\r12,Qtde.\r5,"Preço Unitário\r9,35","Preço Emb.\r112,15","Substituição Tributária\r0,00",NCM\r8205.40.00,NaN
18,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r9,3458","I Preço Total\r560,75","Valor líquido\r560,75",NaN,NaN,NaN,NaN
19,Descrição\rCH. DE FENDA P. CRUZ. 6X200 -1/4X8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ordem\r14,Produto\r43105/012,Código de Barras\r7891114111361,Emb.\r6,Qtde.\r10,"Preço Unitário\r37,32","Preço Emb.\r223,91","Substituição Tributária\r0,00",NCM\r9031.80.99,NaN
21,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r37,3183","I Preço Total\r2.239,10","Valor líquido\r2.239,10",NaN,NaN,NaN,NaN
22,Descrição\rNIVEL MAGNETICO DE ALUMINIO 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [Preço Emb.
47,71, Substituição Tributária
0,00, NCM
8205.40.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
65,11, Substituição Tributária
0,00, NCM
8205.40.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
89,04, Substituição Tributária
0,00, NCM
8205.40.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
58,39, Substituição Tributária
0,00, NCM
8205.40.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
69,55, Substituição Tributária
0,00, NCM
8205.40.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
112,15, Substituição Tributária
0,00, NCM
8205.40.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
223,91, Substituição Tributária
0,00, NCM
9031.80.99]
Index: []

,Ordem\r15,Produto\r43166/305,Código de Barras\r7891114147476,Emb.\r1,Qtde.\r30,"Preço Unitário\r14,63","Preço Emb.\r14,63","Substituição Tributária\r0,00",NCM\r9017.80.10,Unnamed: 0
0,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r14,6300","I Preço Total\r438,90","Valor líquido\r438,90",NaN,NaN,NaN,NaN
1,Descrição\rTRENA 5 M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ordem\r16,Produto\r43390/301,Código de Barras\r7891114051797,Emb.\r12,Qtde.\r5,"Preço Unitário\r11,47","Preço Emb.\r137,61","Substituição Tributária\r0,00",NCM\r8211.93.90,NaN
3,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r11,4675","I Preço Total\r688,05","Valor líquido\r688,05",NaN,NaN,NaN,NaN
4,Descrição\rESTILETE PROFISSIONAL 6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Ordem\r17,Produto\r43301/012,Código de Barras\r7891114001266,Emb.\r1,Qtde.\r30,"Preço Unitário\r20,15","Preço Emb.\r20,15","Substituição Tributária\r0,00",NCM\r8202.10.00,NaN
6,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r20,1500","I Preço Total\r604,50","Valor líquido\r604,50",NaN,NaN,NaN,NaN
7,Descrição\rARCO DE SERRA FIXO 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ordem\r18,Produto\r41128/108,Código de Barras\r7891114063523,Emb.\r12,Qtde.\r5,"Preço Unitário\r5,41","Preço Emb.\r64,94","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
9,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r5,4117","I Preço Total\r324,70","Valor líquido\r324,70",NaN,NaN,NaN,NaN
10,Descrição\rCHAVE COMBINADA 8MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Ordem\r19,Produto\r41128/110,Código de Barras\r7891114063547,Emb.\r12,Qtde.\r5,"Preço Unitário\r5,59","Preço Emb.\r67,04","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
12,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r5,5867","I Preço Total\r335,20","Valor líquido\r335,20",NaN,NaN,NaN,NaN
13,Descrição\rCHAVE COMBINADA 10MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ordem\r20,Produto\r41128/111,Código de Barras\r7891114063554,Emb.\r12,Qtde.\r5,"Preço Unitário\r5,81","Preço Emb.\r69,76","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
15,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r5,8133","I Preço Total\r348,80","Valor líquido\r348,80",NaN,NaN,NaN,NaN
16,Descrição\rCHAVE COMBINADA 11MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ordem\r21,Produto\r41128/112,Código de Barras\r7891114063561,Emb.\r12,Qtde.\r5,"Preço Unitário\r6,16","Preço Emb.\r73,87","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
18,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r6,1558","I Preço Total\r369,35","Valor líquido\r369,35",NaN,NaN,NaN,NaN
19,Descrição\rCHAVE COMBINADA 12MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ordem\r22,Produto\r41128/113,Código de Barras\r7891114063578,Emb.\r12,Qtde.\r5,"Preço Unitário\r6,54","Preço Emb.\r78,48","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
21,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r6,5400","I Preço Total\r392,40","Valor líquido\r392,40",NaN,NaN,NaN,NaN
22,Descrição\rCHAVE COMBINADA 13MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [Preço Emb.
137,61, Substituição Tributária
0,00, NCM
8211.93.90]
Index: []

Empty DataFrame
Columns: [Preço Emb.
20,15, Substituição Tributária
0,00, NCM
8202.10.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
64,94, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
67,04, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
69,76, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
73,87, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
78,48, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

,Ordem\r23,Produto\r41128/115,Código de Barras\r7891114063592,Emb.\r12,Qtde.\r5,"Preço Unitário\r7,45","Preço Emb.\r89,34","Substituição Tributária\r0,00",NCM\r8204.11.00,Unnamed: 0
0,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r7,4450","I Preço Total\r446,70","Valor líquido\r446,70",NaN,NaN,NaN,NaN
1,Descrição\rCHAVE COMBINADA 15MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ordem\r24,Produto\r41128/117,Código de Barras\r7891114063615,Emb.\r6,Qtde.\r10,"Preço Unitário\r8,65","Preço Emb.\r51,89","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
3,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r8,6483","I Preço Total\r518,90","Valor líquido\r518,90",NaN,NaN,NaN,NaN
4,Descrição\rCHAVE COMBINADA 17MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Ordem\r25,Produto\r41128/119,Código de Barras\r7891114066616,Emb.\r6,Qtde.\r10,"Preço Unitário\r9,44","Preço Emb.\r56,64","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
6,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r9,4400","I Preço Total\r566,40","Valor líquido\r566,40",NaN,NaN,NaN,NaN
7,Descrição\rCHAVE COMBINADA 19MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ordem\r26,Produto\r41128/124,Código de Barras\r7891114093155,Emb.\r6,Qtde.\r5,"Preço Unitário\r14,96","Preço Emb.\r89,78","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
9,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r14,9633","I Preço Total\r448,90","Valor líquido\r448,90",NaN,NaN,NaN,NaN
10,Descrição\rCHAVE COMBINADA 24MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Ordem\r27,Produto\r42805/108,Código de Barras\r7891114029642,Emb.\r6,Qtde.\r10,"Preço Unitário\r10,21","Preço Emb.\r61,27","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
12,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r10,2117","I Preço Total\r612,70","Valor líquido\r612,70",NaN,NaN,NaN,NaN
13,Descrição\rCHAVE BIELA 8MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ordem\r28,Produto\r42805/110,Código de Barras\r7891114029666,Emb.\r6,Qtde.\r10,"Preço Unitário\r10,56","Preço Emb.\r63,35","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
15,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r10,5583","I Preço Total\r633,50","Valor líquido\r633,50",NaN,NaN,NaN,NaN
16,Descrição\rCHAVE BIELA 10MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ordem\r29,Produto\r42805/113,Código de Barras\r7891114029697,Emb.\r6,Qtde.\r10,"Preço Unitário\r13,47","Preço Emb.\r80,83","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
18,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r13,4717","I Preço Total\r808,30","Valor líquido\r808,30",NaN,NaN,NaN,NaN
19,Descrição\rCHAVE BIELA 13MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ordem\r30,Produto\r42805/114,Código de Barras\r7891114029703,Emb.\r6,Qtde.\r10,"Preço Unitário\r13,93","Preço Emb.\r83,55","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
21,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r13,9250","I Preço Total\r835,50","Valor líquido\r835,50",NaN,NaN,NaN,NaN
22,Descrição\rCHAVE BIELA 14MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [Preço Emb.
51,89, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
56,64, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
89,78, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
61,27, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
63,35, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
80,83, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
83,55, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

,Ordem\r31,Produto\r42805/117,Código de Barras\r7891114029734,Emb.\r6,Qtde.\r10,"Preço Unitário\r15,52","Preço Emb.\r93,10","Substituição Tributária\r0,00",NCM\r8204.11.00,Unnamed: 0
0,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r15,5167","I Preço Total\r931,00","Valor líquido\r931,00",NaN,NaN,NaN,NaN
1,Descrição\rCHAVE BIELA 17MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ordem\r32,Produto\r42805/119,Código de Barras\r7891114029758,Emb.\r6,Qtde.\r10,"Preço Unitário\r16,69","Preço Emb.\r100,11","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
3,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r16,6850","I Preço Total\r1.001,10","Valor líquido\r1.001,10",NaN,NaN,NaN,NaN
4,Descrição\rCHAVE BIELA 19MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Ordem\r33,Produto\r43608/110,Código de Barras\r7891114103908,Emb.\r6,Qtde.\r5,"Preço Unitário\r63,60","Preço Emb.\r381,62","Substituição Tributária\r0,00",NCM\r8204.20.00,NaN
6,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r63,6033","I Preço Total\r1.908,10","Valor líquido\r1.908,10",NaN,NaN,NaN,NaN
7,Descrição\rCATRACA 1/2 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ordem\r34,Produto\r43601/110,Código de Barras\r7891114103564,Emb.\r6,Qtde.\r5,"Preço Unitário\r8,82","Preço Emb.\r52,94","Substituição Tributária\r0,00",NCM\r8204.20.00,NaN
9,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r8,8233","I Preço Total\r264,70","Valor líquido\r264,70",NaN,NaN,NaN,NaN
10,Descrição\rSOQUETE ESTRIADO 1/2 - 10 MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Ordem\r35,Produto\r43601/113,Código de Barras\r7891114103595,Emb.\r6,Qtde.\r5,"Preço Unitário\r8,82","Preço Emb.\r52,94","Substituição Tributária\r0,00",NCM\r8204.20.00,NaN
12,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r8,8233","I Preço Total\r264,70","Valor líquido\r264,70",NaN,NaN,NaN,NaN
13,Descrição\rSOQUETE ESTRIADO 1/2 - 13 MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ordem\r36,Produto\r43601/117,Código de Barras\r7891114103632,Emb.\r6,Qtde.\r5,"Preço Unitário\r9,56","Preço Emb.\r57,35","Substituição Tributária\r0,00",NCM\r8204.20.00,NaN
15,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r9,5583","I Preço Total\r286,75","Valor líquido\r286,75",NaN,NaN,NaN,NaN
16,Descrição\rSOQUETE ESTRIADO 1/2 - 17 MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ordem\r37,Produto\r43601/119,Código de Barras\r7891114103656,Emb.\r6,Qtde.\r5,"Preço Unitário\r10,90","Preço Emb.\r65,38","Substituição Tributária\r0,00",NCM\r8204.20.00,NaN
18,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r10,8967","I Preço Total\r326,90","Valor líquido\r326,90",NaN,NaN,NaN,NaN
19,Descrição\rSOQUETE ESTRIADO 1/2 - 19 MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ordem\r38,Produto\r41016/510,Código de Barras\r7891114062717,Emb.\r6,Qtde.\r10,"Preço Unitário\r37,32","Preço Emb.\r223,91","Substituição Tributária\r0,00",NCM\r8204.12.00,NaN
21,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r37,3183","I Preço Total\r2.239,10","Valor líquido\r2.239,10",NaN,NaN,NaN,NaN
22,Descrição\rCHAVE AJUSTAVEL 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [Preço Emb.
100,11, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
381,62, Substituição Tributária
0,00, NCM
8204.20.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
52,94, Substituição Tributária
0,00, NCM
8204.20.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
52,94, Substituição Tributária
0,00, NCM
8204.20.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
57,35, Substituição Tributária
0,00, NCM
8204.20.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
65,38, Substituição Tributária
0,00, NCM
8204.20.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
223,91, Substituição Tributária
0,00, NCM
8204.12.00]
Index: []

,Ordem\r39,Produto\r44055/101,Código de Barras\r7891114054866,Emb.\r6,Qtde.\r5,"Preço Unitário\r289,61","Preço Emb.\r1.737,66","Substituição Tributária\r0,00",NCM\r8203.20.10,Unnamed: 0
0,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r289,6100","I Preço Total\r8.688,30","Valor líquido\r8.688,30",NaN,NaN,NaN,NaN
1,Descrição\rALICATE CRIMPADOR 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ordem\r40,Produto\r42620/025,Código de Barras\r7891114104301,Emb.\r6,Qtde.\r5,"Preço Unitário\r24,22","Preço Emb.\r145,29","Substituição Tributária\r0,00",NCM\r8202.99.90,NaN
3,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r24,2150","I Preço Total\r726,45","Valor líquido\r726,45",NaN,NaN,NaN,NaN
4,Descrição\rSERRA COPO BI-METALICA 25MM-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Ordem\r41,Produto\r43272/900,Código de Barras\r7891114131604,Emb.\r80,Qtde.\r1,"Preço Unitário\r1,21","Preço Emb.\r97,07","Substituição Tributária\r0,00",NCM\r9609.10.00,NaN
6,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r1,2134","I Preço Total\r97,07","Valor líquido\r97,07",NaN,NaN,NaN,NaN
7,Descrição\rJOGO DE LAPIS P/ CARPINTEIRO 40 PCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ordem\r42,Produto\r44317/010,Código de Barras\r7891114079821,Emb.\r1,Qtde.\r30,"Preço Unitário\r74,59","Preço Emb.\r74,59","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
9,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r74,5900","I Preço Total\r2.237,70","Valor líquido\r2.237,70",NaN,NaN,NaN,NaN
10,Descrição\rCHAVE CANHAO IEC 10MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Ordem\r43,Produto\r41409/209,Código de Barras\r7891114118537,Emb.\r6,Qtde.\r5,"Preço Unitário\r24,24","Preço Emb.\r145,42","Substituição Tributária\r0,00",NCM\r8205.40.00,NaN
12,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r24,2367","I Preço Total\r727,10","Valor líquido\r727,10",NaN,NaN,NaN,NaN
13,Descrição\rJOGO CHAVES HEXAGONAIS 9 PCS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ordem\r44,Produto\r42426/020,Código de Barras\r7891114133707,Emb.\r2,Qtde.\r15,"Preço Unitário\r1.914,78","Preço Emb.\r3.829,56","Substituição Tributária\r0,00",NCM\r8467.29.99,NaN
15,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r1.914,7800","I Preço Total\r57.443,40","Valor líquido\r57.443,40",NaN,NaN,NaN,NaN
16,"Descrição\rMART. PERF.ROM. 1.9/16"" 220V 1200W",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ordem\r45,Produto\r42404/001,Código de Barras\r7891114126242,Emb.\r2,Qtde.\r15,"Preço Unitário\r996,63","Preço Emb.\r1.993,25","Substituição Tributária\r0,00",NCM\r8467.29.92,NaN
18,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r996,6250","I Preço Total\r29.898,75","Valor líquido\r29.898,75",NaN,NaN,NaN,NaN
19,Descrição\rPARAF/FUR. IMP. A BAT. LI ION 18V,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ordem\r46,Produto\r42500/021,Código de Barras\r7891114167634,Emb.\r2,Qtde.\r15,"Preço Unitário\r356,19","Preço Emb.\r712,38","Substituição Tributária\r0,00",NCM\r8467.29.99,NaN
21,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r356,1900","I Preço Total\r10.685,70","Valor líquido\r10.685,70",NaN,NaN,NaN,NaN
22,Descrição\rESMERILHADEIRA 4.1/2 220V 850W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [Preço Emb.
145,29, Substituição Tributária
0,00, NCM
8202.99.90]
Index: []

Empty DataFrame
Columns: [Preço Emb.
97,07, Substituição Tributária
0,00, NCM
9609.10.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
74,59, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
145,42, Substituição Tributária
0,00, NCM
8205.40.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
3.829,56, Substituição Tributária
0,00, NCM
8467.29.99]
Index: []

Empty DataFrame
Columns: [Preço Emb.
1.993,25, Substituição Tributária
0,00, NCM
8467.29.92]
Index: []

Empty DataFrame
Columns: [Preço Emb.
712,38, Substituição Tributária
0,00, NCM
8467.29.99]
Index: []

,Ordem\r47,Produto\r42411/021,Código de Barras\r7891114167610,Emb.\r2,Qtde.\r15,"Preço Unitário\r328,18","Preço Emb.\r656,35","Substituição Tributária\r0,00",NCM\r8467.21.00,Unnamed: 0
0,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r328,1750","I Preço Total\r9.845,25","Valor líquido\r9.845,25",NaN,NaN,NaN,NaN
1,Descrição\rFURADEIRA IMPACTO 1/2 220V 900W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ordem\r48,Produto\r44952/612,Código de Barras\r7891114160833,Emb.\r1,Qtde.\r30,"Preço Unitário\r184,85","Preço Emb.\r184,85","Substituição Tributária\r0,00",NCM\r4202.22.10,NaN
3,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r184,8500","I Preço Total\r5.545,50","Valor líquido\r5.545,50",NaN,NaN,NaN,NaN
4,Descrição\rBOLSA PARA FERRAMENTAS 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Ordem\r49,Produto\r43141/013,Código de Barras\r7891114112238,Emb.\r10,Qtde.\r6,"Preço Unitário\r2,91","Preço Emb.\r29,05","Substituição Tributária\r0,00",NCM\r8207.50.11,NaN
6,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r2,9050","I Preço Total\r174,30","Valor líquido\r174,30",NaN,NaN,NaN,NaN
7,Descrição\rBROCA PARA ACO 3.0 MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ordem\r50,Produto\r43141/022,Código de Barras\r7891114112269,Emb.\r10,Qtde.\r6,"Preço Unitário\r3,11","Preço Emb.\r31,07","Substituição Tributária\r0,00",NCM\r8207.50.11,NaN
9,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r3,1070","I Preço Total\r186,42","Valor líquido\r186,42",NaN,NaN,NaN,NaN
10,Descrição\rBROCA PARA ACO 4.0 MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Ordem\r51,Produto\r43141/033,Código de Barras\r7891114112313,Emb.\r10,Qtde.\r6,"Preço Unitário\r4,67","Preço Emb.\r46,72","Substituição Tributária\r0,00",NCM\r8207.50.11,NaN
12,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r4,6720","I Preço Total\r280,32","Valor líquido\r280,32",NaN,NaN,NaN,NaN
13,Descrição\rBROCA PARA ACO 6.0 MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ordem\r52,Produto\r43141/038,Código de Barras\r7891114112368,Emb.\r5,Qtde.\r12,"Preço Unitário\r8,32","Preço Emb.\r41,60","Substituição Tributária\r0,00",NCM\r8207.50.11,NaN
15,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r8,3200","I Preço Total\r499,20","Valor líquido\r499,20",NaN,NaN,NaN,NaN
16,Descrição\rBROCA PARA ACO 8.0 MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ordem\r53,Produto\r43141/044,Código de Barras\r7891114112405,Emb.\r5,Qtde.\r12,"Preço Unitário\r13,80","Preço Emb.\r69,00","Substituição Tributária\r0,00",NCM\r8207.50.11,NaN
18,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r13,8000","I Preço Total\r828,00","Valor líquido\r828,00",NaN,NaN,NaN,NaN
19,Descrição\rBROCA PARA ACO 10.0 MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ordem\r54,Produto\r43141/049,Código de Barras\r7891114112450,Emb.\r5,Qtde.\r12,"Preço Unitário\r20,00","Preço Emb.\r100,02","Substituição Tributária\r0,00",NCM\r8207.50.11,NaN
21,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r20,0040","I Preço Total\r1.200,24","Valor líquido\r1.200,24",NaN,NaN,NaN,NaN
22,Descrição\rBROCA PARA ACO 12.0 MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [Preço Emb.
184,85, Substituição Tributária
0,00, NCM
4202.22.10]
Index: []

Empty DataFrame
Columns: [Preço Emb.
29,05, Substituição Tributária
0,00, NCM
8207.50.11]
Index: []

Empty DataFrame
Columns: [Preço Emb.
31,07, Substituição Tributária
0,00, NCM
8207.50.11]
Index: []

Empty DataFrame
Columns: [Preço Emb.
46,72, Substituição Tributária
0,00, NCM
8207.50.11]
Index: []

Empty DataFrame
Columns: [Preço Emb.
41,60, Substituição Tributária
0,00, NCM
8207.50.11]
Index: []

Empty DataFrame
Columns: [Preço Emb.
69,00, Substituição Tributária
0,00, NCM
8207.50.11]
Index: []

Empty DataFrame
Columns: [Preço Emb.
100,02, Substituição Tributária
0,00, NCM
8207.50.11]
Index: []

,Ordem\r55,Produto\r41702/308,Código de Barras\r7891114051063,Emb.\r1,Qtde.\r30,"Preço Unitário\r24,97","Preço Emb.\r24,97","Substituição Tributária\r0,00",NCM\r8203.10.10,Unnamed: 0
0,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r24,9700","I Preço Total\r749,10","Valor líquido\r749,10",NaN,NaN,NaN,NaN
1,Descrição\rLIMA PARA ENXADA 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ordem\r56,Produto\r42590/004,Código de Barras\r7891114095333,Emb.\r12,Qtde.\r5,"Preço Unitário\r4,99","Preço Emb.\r59,83","Substituição Tributária\r0,00",NCM\r6804.22.11,NaN
3,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r4,9858","I Preço Total\r299,15","Valor líquido\r299,15",NaN,NaN,NaN,NaN
4,Descrição\rDISCO DE DESBASTE PARA ACOS 4.1/2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Ordem\r57,Produto\r42591/004,Código de Barras\r7891114095364,Emb.\r12,Qtde.\r25,"Preço Unitário\r3,33","Preço Emb.\r39,91","Substituição Tributária\r0,00",NCM\r6804.22.11,NaN
6,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r3,3258","I Preço Total\r997,75","Valor líquido\r997,75",NaN,NaN,NaN,NaN
7,Descrição\rDISCO DE CORTE PARA ACO 4.1/2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ordem\r58,Produto\r41001/108,Código de Barras\r7891114008869,Emb.\r12,Qtde.\r5,"Preço Unitário\r20,87","Preço Emb.\r250,44","Substituição Tributária\r0,00",NCM\r8203.20.10,NaN
9,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r20,8700","I Preço Total\r1.252,20","Valor líquido\r1.252,20",NaN,NaN,NaN,NaN
10,Descrição\rALICATE UNIVERSAL 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Ordem\r59,Produto\r44518/200,Código de Barras\r7891114119053,Emb.\r1,Qtde.\r30,"Preço Unitário\r763,47","Preço Emb.\r763,47","Substituição Tributária\r0,00",NCM\r8205.59.00,NaN
12,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r763,4700","I Preço Total\r22.904,10","Valor líquido\r22.904,10",NaN,NaN,NaN,NaN
13,Descrição\rTORQ. ESTALO P/ BITS 1/4 - 3-15N.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ordem\r60,Produto\r40370/034,Código de Barras\r7891114113938,Emb.\r6,Qtde.\r5,"Preço Unitário\r40,04","Preço Emb.\r240,23","Substituição Tributária\r0,00",NCM\r8205.20.00,NaN
15,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r40,0383","I Preço Total\r1.201,15","Valor líquido\r1.201,15",NaN,NaN,NaN,NaN
16,Descrição\rMARTELO DE UNHA 34MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ordem\r61,Produto\r77566/813,Código de Barras\r7891117022398,Emb.\r1,Qtde.\r30,"Preço Unitário\r78,80","Preço Emb.\r78,80","Substituição Tributária\r0,00",NCM\r8201.90.00,NaN
18,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r78,8000","I Preço Total\r2.364,00","Valor líquido\r2.364,00",NaN,NaN,NaN,NaN
19,Descrição\rCAVADEIRA TIPO LIGHT C/CABO 145CM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ordem\r62,Produto\r77215/754,Código de Barras\r7891117045694,Emb.\r1,Qtde.\r30,"Preço Unitário\r40,71","Preço Emb.\r40,71","Substituição Tributária\r0,00",NCM\r8201.30.00,NaN
21,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r40,7100","I Preço Total\r1.221,30","Valor líquido\r1.221,30",NaN,NaN,NaN,NaN
22,"Descrição\rENXADA LARGA CANAV 2,5 C/CABO 145CM",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [Preço Emb.
59,83, Substituição Tributária
0,00, NCM
6804.22.11]
Index: []

Empty DataFrame
Columns: [Preço Emb.
39,91, Substituição Tributária
0,00, NCM
6804.22.11]
Index: []

Empty DataFrame
Columns: [Preço Emb.
250,44, Substituição Tributária
0,00, NCM
8203.20.10]
Index: []

Empty DataFrame
Columns: [Preço Emb.
763,47, Substituição Tributária
0,00, NCM
8205.59.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
240,23, Substituição Tributária
0,00, NCM
8205.20.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
78,80, Substituição Tributária
0,00, NCM
8201.90.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
40,71, Substituição Tributária
0,00, NCM
8201.30.00]
Index: []

,Ordem\r63,Produto\r77272/754,Código de Barras\r7891117023876,Emb.\r1,Qtde.\r30,"Preço Unitário\r46,32","Preço Emb.\r46,32","Substituição Tributária\r0,00",NCM\r8201.30.00,Unnamed: 0
0,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r46,3200","I Preço Total\r1.389,60","Valor líquido\r1.389,60",NaN,NaN,NaN,NaN
1,"Descrição\rENXADAO ESTREITO 2,5 C/CABO 130CM",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ordem\r64,Produto\r77459/434,Código de Barras\r7891117048695,Emb.\r1,Qtde.\r30,"Preço Unitário\r22,89","Preço Emb.\r22,89","Substituição Tributária\r0,00",NCM\r8201.10.00,NaN
3,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r22,8900","I Preço Total\r686,70","Valor líquido\r686,70",NaN,NaN,NaN,NaN
4,Descrição\rPA DE BICO C/CABO 71CM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Ordem\r65,Produto\r40508/006,Código de Barras\r7891114114072,Emb.\r2,Qtde.\r15,"Preço Unitário\r141,58","Preço Emb.\r283,16","Substituição Tributária\r0,00",NCM\r8205.20.00,NaN
6,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r141,5800","I Preço Total\r4.247,40","Valor líquido\r4.247,40",NaN,NaN,NaN,NaN
7,Descrição\rMARRETA OITAVADA 3.000G,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Ordem\r66,Produto\r41135/110,Código de Barras\r7891114069259,Emb.\r6,Qtde.\r5,"Preço Unitário\r21,84","Preço Emb.\r131,02","Substituição Tributária\r0,00",NCM\r8205.59.00,NaN
9,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r21,8367","I Preço Total\r655,10","Valor líquido\r655,10",NaN,NaN,NaN,NaN
10,Descrição\rTALHADEIRA 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Ordem\r67,Produto\r43240/020,Código de Barras\r7891114000283,Emb.\r6,Qtde.\r5,"Preço Unitário\r34,16","Preço Emb.\r204,95","Substituição Tributária\r0,00",NCM\r8202.10.00,NaN
12,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r34,1583","I Preço Total\r1.024,75","Valor líquido\r1.024,75",NaN,NaN,NaN,NaN
13,Descrição\rSERROTE PROFISSIONAL 20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Ordem\r68,Produto\r43171/012,Código de Barras\r7891114047776,Emb.\r1,Qtde.\r30,"Preço Unitário\r37,32","Preço Emb.\r37,32","Substituição Tributária\r0,00",NCM\r9017.20.00,NaN
15,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r37,3200","I Preço Total\r1.119,60","Valor líquido\r1.119,60",NaN,NaN,NaN,NaN
16,Descrição\rESQUADRO 12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Ordem\r69,Produto\r44715/016,Código de Barras\r7891114060478,Emb.\r6,Qtde.\r5,"Preço Unitário\r25,55","Preço Emb.\r153,32","Substituição Tributária\r0,00",NCM\r8204.11.00,NaN
18,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r25,5533","I Preço Total\r766,60","Valor líquido\r766,60",NaN,NaN,NaN,NaN
19,Descrição\rCH.VELA 16MM E MANIPULO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Ordem\r70,Produto\r79115/506,Código de Barras\r7891117101802,Emb.\r1,Qtde.\r1,"Preço Unitário\r33,00","Preço Emb.\r33,00","Substituição Tributária\r0,00",NCM\r3917.39.00,NaN
21,% ICMS\r12.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r33,0000","I Preço Total\r33,00","Valor líquido\r33,00",NaN,NaN,NaN,NaN
22,Descrição\rMANGUEIRA CRISTAL 5/16 50 M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [Preço Emb.
22,89, Substituição Tributária
0,00, NCM
8201.10.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
283,16, Substituição Tributária
0,00, NCM
8205.20.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
131,02, Substituição Tributária
0,00, NCM
8205.59.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
204,95, Substituição Tributária
0,00, NCM
8202.10.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
37,32, Substituição Tributária
0,00, NCM
9017.20.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
153,32, Substituição Tributária
0,00, NCM
8204.11.00]
Index: []

Empty DataFrame
Columns: [Preço Emb.
33,00, Substituição Tributária
0,00, NCM
3917.39.00]
Index: []

,Ordem\r71,Produto\r44881/006,Código de Barras\r7891114070576,Emb.\r6,Qtde.\r15,"Preço Unitário\r17,31","Preço Emb.\r103,88","Substituição Tributária\r0,00",NCM\r8207.90.00,Unnamed: 0
0,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r17,3133","I Preço Total\r1.558,20","Valor líquido\r1.558,20",NaN,NaN,NaN,NaN
1,Descrição\rPONTEIRA PONTA CRUZADA 8X80MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ordem\r72,Produto\r44881/001,Código de Barras\r7891114070521,Emb.\r6,Qtde.\r15,"Preço Unitário\r10,69","Preço Emb.\r64,16","Substituição Tributária\r0,00",NCM\r8207.90.00,NaN
3,% ICMS\r4.0,"% IPI\r0,00","Valor de IPI\r0,00","Preço Unitário sem I\r10,6933","I Preço Total\r962,40","Valor líquido\r962,40",NaN,NaN,NaN,NaN
4,Descrição\rPONTEIRA PONTA CHATA 7X36MM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Empty DataFrame
Columns: [Preço Emb.
64,16, Substituição Tributária
0,00, NCM
8207.90.00]
Index: []

#PAGINA_01_TRAMONTINA

In [16]:
#Leitura do pdf
lista1_cotacao_02 = tabula.read_pdf(r"cdp19023051109003634960000000.pdf", pages="all")
pagina1_cotacao_02 = lista1_cotacao_02[0]
pagina1_cotacao_02.columns = ['indice01','indice02','indice03','indice04','indice05','indice06','indice07','indice08','indice09','indice10']
#Descrição material - Filtragem de descirção somente da tabela 01
descricao_material1 = pagina1_cotacao_02[pagina1_cotacao_02['indice01'].str.contains('Descrição\r')]
descricao_material1 = descricao_material1['indice01'].str.replace('Descrição\r','')
descricao_material1 = descricao_material1.reset_index(drop=True)
#Preço_Unitário - FIltragem de preço unitário da tabela1
preco_unitario1 = pagina1_cotacao_02[pagina1_cotacao_02['indice04'].str.len() > 0]
preco_unitario1 = pagina1_cotacao_02['indice04'].str.contains('Preço Unitário sem I\r')
preco_unitario1 = pagina1_cotacao_02['indice04'].str.replace('Preço Unitário sem I\r','')
preco_unitario1 = preco_unitario1[preco_unitario1.str.len() > 0]
preco_unitario1 = preco_unitario1[~preco_unitario1.str.contains('Emb.\r1')]
preco_unitario1 = preco_unitario1.reset_index(drop=True)
preco_unitario1 = preco_unitario1.apply(lambda x: str(x).replace(",","."))
preco_unitario1 = preco_unitario1.astype('float64')
#Preço total - fitragem de preço total
preco_total1 = pagina1_cotacao_02[pagina1_cotacao_02['indice05'].str.len() > 0]
preco_total1 = pagina1_cotacao_02['indice05'].str.contains('I Preço Total\r')
preco_total1 = pagina1_cotacao_02['indice05'].str.replace('I Preço Total\r','')
preco_total1 = preco_total1[preco_total1.str.len() > 0]
preco_total1 = preco_total1[~preco_total1.str.contains('Qtde.\r30')]
preco_total1 = preco_total1.reset_index(drop=True)
preco_total1 = preco_total1.apply(lambda x: str(x).replace(".",""))
preco_total1 = preco_total1.apply(lambda x: str(x).replace(",","."))
preco_total1 = preco_total1.astype('float64')
#mesclando os dados atrávés de cada indice formando uma tabela
df_mesclar01= descricao_material1.to_frame().merge(preco_unitario1,left_index=True,right_index=True)
df_mesclar01= descricao_material1.to_frame().merge(preco_unitario1,left_index=True,right_index=True)
Tabela_01= df_mesclar01.merge(preco_total1,left_index=True,right_index=True)
Tabela_01['indice02'] = Tabela_01['indice05'] / Tabela_01['indice04']
display(Tabela_01)

                              indice01  indice04  indice05  indice02
0             ALICATE CORTE DIAGONAL 6     20.87    1252.2      60.0
1   CH FENDA CHATA ISOLADA 3X150 1/8X6      8.02     240.6      30.0
2  CH FENDA CHATA ISOLADA 5X150 3/16X6      9.24     277.2      30.0
3  CH FENDA CHATA ISOLADA 6X200 -1/4X8     13.24     397.2      30.0
4  CH. FENDA CRUZ. ISOLADA 3X150 1/8X6      9.05     271.5      30.0
5  CH FENDA CRUZ. ISOLADA 5X150 3/16X6      9.86     295.8      30.0

#PAGINA_02_TRAMONTINA

In [3]:
# #Leitura do pdf
lista_cotacao_02 = tabula.read_pdf(r"C:\Users\Hely Ribeiro Menezes\Documents\One Engenharia\Colab Notebooks\COTAÇAO_FERRAMENTAS\cdp19023051109003634960000000.pdf", pages="2")
pagina2_cotacao_02 = lista_cotacao_02[0]
pagina2_cotacao_02.columns = ['indice01','indice02','indice03','indice04','indice05','indice06','indice07','indice08','indice09','indice10']
#Descrição material - Filtragem de descirção somente da tabela 01
descricao_material2 = pagina2_cotacao_02[pagina2_cotacao_02['indice01'].str.contains('Descrição\r')]
descricao_material2 = descricao_material2['indice01'].str.replace('Descrição\r','')
descricao_material2 = descricao_material2.reset_index(drop=True)
#Preço_Unitário - FIltragem de preço unitário da tabela1
preco_unitario2 = pagina2_cotacao_02[pagina2_cotacao_02['indice04'].str.len() > 0]
preco_unitario2 = pagina2_cotacao_02['indice04'].str.contains('Preço Unitário sem I\r')
preco_unitario2 = pagina2_cotacao_02['indice04'].str.replace('Preço Unitário sem I\r','')
preco_unitario2 = preco_unitario2[preco_unitario2.str.len() > 0]
preco_unitario2 = preco_unitario2[~preco_unitario2.str.contains('Emb.\r')]
preco_unitario2 = preco_unitario2.reset_index(drop=True)
preco_unitario2 = preco_unitario2.apply(lambda x: str(x).replace(",","."))
preco_unitario2 = preco_unitario2.astype('float64')
#Preço total - fitragem de preço total
preco_total2 = pagina2_cotacao_02[pagina2_cotacao_02['indice05'].str.len() > 0]
preco_total2 = pagina2_cotacao_02['indice05'].str.contains('I Preço Total\r')
preco_total2 = pagina2_cotacao_02['indice05'].str.replace('I Preço Total\r','')
preco_total2 = preco_total2[preco_total2.str.len() > 0]
preco_total2 = preco_total2[~preco_total2.str.contains('Qtde.\r')]
preco_total2 = preco_total2.reset_index(drop=True)
preco_total2 = preco_total2.apply(lambda x: str(x).replace(".",""))
preco_total2 = preco_total2.apply(lambda x: str(x).replace(",","."))
preco_total2 = preco_total2.astype('float64')
#mesclando os dados atrávés de cada indice formando uma tabela
df_mesclar02= descricao_material2.to_frame().merge(preco_unitario2,left_index=True,right_index=True)
df_mesclar02= descricao_material2.to_frame().merge(preco_unitario2,left_index=True,right_index=True)
Tabela_02= df_mesclar02.merge(preco_total2,left_index=True,right_index=True)
Tabela_02['indice02'] = Tabela_02['indice05'] / Tabela_02['indice04']
display(Tabela_02)

                              indice01  indice04  indice05   indice02
0  CH. FENDA CRUZ. ISOLADA 6X200 1/4X8   13.3500    400.50  30.000000
1   CH. DE FENDA P. CHATA 3X125 -1/8X5    3.9758    238.55  60.000503
2  CH. DE FENDA P. CHATA 5X150 -3/16X6    5.4258    325.55  60.000369
3   CH. DE FENDA P. CHATA 6X200 -1/4X8    7.4200    445.20  60.000000
4   CH. DE FENDA P. CRUZ. 3X125 -1/8X5    4.8658    291.95  60.000411
5  CH. DE FENDA P. CRUZ. 5X150 -3/16X6    5.7958    347.75  60.000345
6   CH. DE FENDA P. CRUZ. 6X200 -1/4X8    9.3458    560.75  60.000214
7       NIVEL MAGNETICO DE ALUMINIO 12   37.3183   2239.10  60.000054

#PAGINA_03_TRAMONTINA

In [4]:
#Leitura do pdf
lista1_cotacao_03 = tabula.read_pdf(r"C:\Users\Hely Ribeiro Menezes\Documents\One Engenharia\Colab Notebooks\COTAÇAO_FERRAMENTAS\cdp19023051109003634960000000.pdf", pages="3")
pagina3_cotacao_02 = lista1_cotacao_03[0]
pagina3_cotacao_02.columns = ['indice01','indice02','indice03','indice04','indice05','indice06','indice07','indice08','indice09','indice10']
#Descrição material - Filtragem de descirção somente da tabela 01
descricao_material3 = pagina3_cotacao_02[pagina3_cotacao_02['indice01'].str.contains('Descrição\r')]
descricao_material3 = descricao_material3['indice01'].str.replace('Descrição\r','')
descricao_material3 = descricao_material3.reset_index(drop=True)
#Preço_Unitário - FIltragem de preço unitário da tabela1
preco_unitario3 = pagina3_cotacao_02[pagina3_cotacao_02['indice04'].str.len() > 0]
preco_unitario3 = pagina3_cotacao_02['indice04'].str.contains('Preço Unitário sem I\r')
preco_unitario3 = pagina3_cotacao_02['indice04'].str.replace('Preço Unitário sem I\r','')
preco_unitario3 = preco_unitario3[preco_unitario3.str.len() > 0]
preco_unitario3 = preco_unitario3[~preco_unitario3.str.contains('Emb.\r1')]
preco_unitario3 = preco_unitario3.reset_index(drop=True)
preco_unitario3 = preco_unitario3.apply(lambda x: str(x).replace(",","."))
preco_unitario3 = preco_unitario3.astype('float64')
#Preço total - fitragem de preço total
preco_total3 = pagina3_cotacao_02[pagina3_cotacao_02['indice05'].str.len() > 0]
preco_total3 = pagina3_cotacao_02['indice05'].str.contains('I Preço Total\r')
preco_total3 = pagina3_cotacao_02['indice05'].str.replace('I Preço Total\r','')
preco_total3 = preco_total3[preco_total3.str.len() > 0]
preco_total3 = preco_total3[~preco_total3.str.contains('Qtde.\r')]
preco_total3 = preco_total3.reset_index(drop=True)
preco_total3 = preco_total3.apply(lambda x: str(x).replace(".",""))
preco_total3 = preco_total3.apply(lambda x: str(x).replace(",","."))
preco_total3 = preco_total3.astype('float64')
#mesclando os dados atrávés de cada indice formando uma tabela
df_mesclar03= descricao_material3.to_frame().merge(preco_unitario3,left_index=True,right_index=True)
df_mesclar03= descricao_material3.to_frame().merge(preco_unitario3,left_index=True,right_index=True)
Tabela_03= df_mesclar03.merge(preco_total3,left_index=True,right_index=True)
Tabela_03['indice02'] = Tabela_03['indice05'] / Tabela_03['indice04']
display(Tabela_03)

                  indice01  indice04  indice05   indice02
0                TRENA 5 M   14.6300    438.90  30.000000
1  ESTILETE PROFISSIONAL 6   11.4675    688.05  60.000000
2    ARCO DE SERRA FIXO 12   20.1500    604.50  30.000000
3      CHAVE COMBINADA 8MM    5.4117    324.70  59.999630
4     CHAVE COMBINADA 10MM    5.5867    335.20  59.999642
5     CHAVE COMBINADA 11MM    5.8133    348.80  60.000344
6     CHAVE COMBINADA 12MM    6.1558    369.35  60.000325
7     CHAVE COMBINADA 13MM    6.5400    392.40  60.000000

#PAGINA_04_TRAMONTINA

In [5]:
#Leitura do pdf
lista4_cotacao_02 = tabula.read_pdf(r"C:\Users\Hely Ribeiro Menezes\Documents\One Engenharia\Colab Notebooks\COTAÇAO_FERRAMENTAS\cdp19023051109003634960000000.pdf", pages="4")
pagina4_cotacao_02 = lista4_cotacao_02[0]
pagina4_cotacao_02.columns = ['indice01','indice02','indice03','indice04','indice05','indice06','indice07','indice08','indice09','indice10']
#Descrição material - Filtragem de descirção somente da tabela 01
descricao_material4 = pagina4_cotacao_02[pagina4_cotacao_02['indice01'].str.contains('Descrição\r')]
descricao_material4 = descricao_material4['indice01'].str.replace('Descrição\r','')
descricao_material4 = descricao_material4.reset_index(drop=True)
#Preço_Unitário - FIltragem de preço unitário da tabela1
preco_unitario4 = pagina4_cotacao_02[pagina4_cotacao_02['indice04'].str.len() > 0]
preco_unitario4 = pagina4_cotacao_02['indice04'].str.contains('Preço Unitário sem I\r')
preco_unitario4 = pagina4_cotacao_02['indice04'].str.replace('Preço Unitário sem I\r','')
preco_unitario4 = preco_unitario4[preco_unitario4.str.len() > 0]
preco_unitario4 = preco_unitario4[~preco_unitario4.str.contains('Emb.\r')]
preco_unitario4 = preco_unitario4.reset_index(drop=True)
preco_unitario4 = preco_unitario4.apply(lambda x: str(x).replace(",","."))
preco_unitario4 = preco_unitario4.astype('float64')
#Preço total - fitragem de preço total
preco_total4 = pagina4_cotacao_02[pagina4_cotacao_02['indice05'].str.len() > 0]
preco_total4 = pagina4_cotacao_02['indice05'].str.contains('I Preço Total\r')
preco_total4 = pagina4_cotacao_02['indice05'].str.replace('I Preço Total\r','')
preco_total4 = preco_total4[preco_total4.str.len() > 0]
preco_total4 = preco_total4[~preco_total4.str.contains('Qtde.\r')]
preco_total4 = preco_total4.reset_index(drop=True)
preco_total4 = preco_total4.apply(lambda x: str(x).replace(".",""))
preco_total4 = preco_total4.apply(lambda x: str(x).replace(",","."))
preco_total4 = preco_total4.astype('float64')
#mesclando os dados atrávés de cada indice formando uma tabela
df_mesclar04= descricao_material4.to_frame().merge(preco_unitario4,left_index=True,right_index=True)
df_mesclar04= descricao_material4.to_frame().merge(preco_unitario4,left_index=True,right_index=True)
Tabela_04= df_mesclar04.merge(preco_total4,left_index=True,right_index=True)
Tabela_04['indice02'] = Tabela_04['indice05'] / Tabela_04['indice04']
display(Tabela_04)

               indice01  indice04  indice05   indice02
0  CHAVE COMBINADA 15MM    7.4450     446.7  60.000000
1  CHAVE COMBINADA 17MM    8.6483     518.9  60.000231
2  CHAVE COMBINADA 19MM    9.4400     566.4  60.000000
3  CHAVE COMBINADA 24MM   14.9633     448.9  30.000067
4       CHAVE BIELA 8MM   10.2117     612.7  59.999804
5      CHAVE BIELA 10MM   10.5583     633.5  60.000189
6      CHAVE BIELA 13MM   13.4717     808.3  59.999852
7      CHAVE BIELA 14MM   13.9250     835.5  60.000000

#PAGINA_05_TRAMONTINA

In [6]:
#Leitura do pdf
lista5_cotacao_02 = tabula.read_pdf(r"C:\Users\Hely Ribeiro Menezes\Documents\One Engenharia\Colab Notebooks\COTAÇAO_FERRAMENTAS\cdp19023051109003634960000000.pdf", pages="5")
pagina5_cotacao_02 = lista5_cotacao_02[0]
pagina5_cotacao_02.columns = ['indice01','indice02','indice03','indice04','indice05','indice06','indice07','indice08','indice09','indice10']
#Descrição material - Filtragem de descirção somente da tabela 01
descricao_material5 = pagina5_cotacao_02[pagina5_cotacao_02['indice01'].str.contains('Descrição\r')]
descricao_material5 = descricao_material5['indice01'].str.replace('Descrição\r','')
descricao_material5 = descricao_material5.reset_index(drop=True)
#Preço_Unitário - FIltragem de preço unitário da tabela1
preco_unitario5 = pagina5_cotacao_02[pagina5_cotacao_02['indice04'].str.len() > 0]
preco_unitario5 = pagina5_cotacao_02['indice04'].str.contains('Preço Unitário sem I\r')
preco_unitario5 = pagina5_cotacao_02['indice04'].str.replace('Preço Unitário sem I\r','')
preco_unitario5 = preco_unitario5[preco_unitario5.str.len() > 0]
preco_unitario5 = preco_unitario5[~preco_unitario5.str.contains('Emb.\r')]
preco_unitario5 = preco_unitario5.reset_index(drop=True)
preco_unitario5 = preco_unitario5.apply(lambda x: str(x).replace(",","."))
preco_unitario5 = preco_unitario5.astype('float64')
#Preço total - fitragem de preço total
preco_total5 = pagina5_cotacao_02[pagina5_cotacao_02['indice05'].str.len() > 0]
preco_total5 = pagina5_cotacao_02['indice05'].str.contains('I Preço Total\r')
preco_total5 = pagina5_cotacao_02['indice05'].str.replace('I Preço Total\r','')
preco_total5 = preco_total5[preco_total5.str.len() > 0]
preco_total5 = preco_total5[~preco_total5.str.contains('Qtde.\r')]
preco_total5 = preco_total5.reset_index(drop=True)
preco_total5 = preco_total5.apply(lambda x: str(x).replace(".",""))
preco_total5 = preco_total5.apply(lambda x: str(x).replace(",","."))
preco_total5 = preco_total5.astype('float64')
#mesclando os dados atrávés de cada indice formando uma tabela
df_mesclar05= descricao_material5.to_frame().merge(preco_unitario5,left_index=True,right_index=True)
df_mesclar05= descricao_material5.to_frame().merge(preco_unitario5,left_index=True,right_index=True)
Tabela_05= df_mesclar05.merge(preco_total5,left_index=True,right_index=True)
Tabela_05['indice02'] = Tabela_05['indice05'] / Tabela_05['indice04']
display(Tabela_05)

                       indice01  indice04  indice05   indice02
0              CHAVE BIELA 17MM   15.5167    931.00  59.999871
1              CHAVE BIELA 19MM   16.6850   1001.10  60.000000
2                CATRACA 1/2 10   63.6033   1908.10  30.000016
3  SOQUETE ESTRIADO 1/2 - 10 MM    8.8233    264.70  30.000113
4  SOQUETE ESTRIADO 1/2 - 13 MM    8.8233    264.70  30.000113
5  SOQUETE ESTRIADO 1/2 - 17 MM    9.5583    286.75  30.000105
6  SOQUETE ESTRIADO 1/2 - 19 MM   10.8967    326.90  29.999908
7            CHAVE AJUSTAVEL 10   37.3183   2239.10  60.000054

#PAGINA_06_TRAMONTINA

In [7]:
#Leitura do pdf
lista6_cotacao_02 = tabula.read_pdf(r"C:\Users\Hely Ribeiro Menezes\Documents\One Engenharia\Colab Notebooks\COTAÇAO_FERRAMENTAS\cdp19023051109003634960000000.pdf", pages="6")
pagina6_cotacao_02 = lista6_cotacao_02[0]
pagina6_cotacao_02.columns = ['indice01','indice02','indice03','indice04','indice05','indice06','indice07','indice08','indice09','indice10']
#Descrição material - Filtragem de descirção somente da tabela 01
descricao_material6 = pagina6_cotacao_02[pagina6_cotacao_02['indice01'].str.contains('Descrição\r')]
descricao_material6 = descricao_material6['indice01'].str.replace('Descrição\r','')
descricao_material6 = descricao_material6.reset_index(drop=True)
#Preço_Unitário - FIltragem de preço unitário da tabela1
preco_unitario6 = pagina6_cotacao_02[pagina6_cotacao_02['indice04'].str.len() > 0]
preco_unitario6 = pagina6_cotacao_02['indice04'].str.contains('Preço Unitário sem I\r')
preco_unitario6 = pagina6_cotacao_02['indice04'].str.replace('Preço Unitário sem I\r','')
preco_unitario6 = preco_unitario6[preco_unitario6.str.len() > 0]
preco_unitario6 = preco_unitario6[~preco_unitario6.str.contains('Emb.\r')]
preco_unitario6 = preco_unitario6.reset_index(drop=True)
preco_unitario6 = preco_unitario6.apply(lambda x: str(x).replace(".",""))
preco_unitario6 = preco_unitario6.apply(lambda x: str(x).replace(",","."))
preco_unitario6 = preco_unitario6.astype('float64')
#Preço total - fitragem de preço total
preco_total6 = pagina6_cotacao_02[pagina6_cotacao_02['indice05'].str.len() > 0]
preco_total6 = pagina6_cotacao_02['indice05'].str.contains('I Preço Total\r')
preco_total6 = pagina6_cotacao_02['indice05'].str.replace('I Preço Total\r','')
preco_total6 = preco_total6[preco_total6.str.len() > 0]
preco_total6 = preco_total6[~preco_total6.str.contains('Qtde.\r')]
preco_total6 = preco_total6.reset_index(drop=True)
preco_total6 = preco_total6.apply(lambda x: str(x).replace(".",""))
preco_total6 = preco_total6.apply(lambda x: str(x).replace(",","."))
preco_total6 = preco_total6.astype('float64')
#mesclando os dados atrávés de cada indice formando uma tabela
df_mesclar06= descricao_material6.to_frame().merge(preco_unitario6,left_index=True,right_index=True)
df_mesclar06= descricao_material6.to_frame().merge(preco_unitario6,left_index=True,right_index=True)
Tabela_06= df_mesclar06.merge(preco_total6,left_index=True,right_index=True)
Tabela_06['indice02'] = Tabela_06['indice05'] / Tabela_06['indice04']
display(Tabela_06)

                              indice01   indice04  indice05   indice02
0                 ALICATE CRIMPADOR  9   289.6100   8688.30  30.000000
1        SERRA COPO BI-METALICA 25MM-1    24.2150    726.45  30.000000
2  JOGO DE LAPIS P/ CARPINTEIRO 40 PCS     1.2134     97.07  79.998352
3                CHAVE CANHAO IEC 10MM    74.5900   2237.70  30.000000
4         JOGO CHAVES HEXAGONAIS 9 PCS    24.2367    727.10  29.999959
5  MART. PERF.ROM. 1.9/16" 220V  1200W  1914.7800  57443.40  30.000000
6    PARAF/FUR. IMP. A BAT. LI ION 18V   996.6250  29898.75  30.000000
7       ESMERILHADEIRA 4.1/2 220V 850W   356.1900  10685.70  30.000000

#PAGINA_07_TRAMONTINA

In [8]:
#Leitura do pdf
lista1_cotacao_02 = tabula.read_pdf(r"C:\Users\Hely Ribeiro Menezes\Documents\One Engenharia\Colab Notebooks\COTAÇAO_FERRAMENTAS\cdp19023051109003634960000000.pdf", pages="7")
pagina1_cotacao_02 = lista1_cotacao_02[0]
pagina1_cotacao_02.columns = ['indice01','indice02','indice03','indice04','indice05','indice06','indice07','indice08','indice09','indice10']
#Descrição material - Filtragem de descirção somente da tabela 01
descricao_material1 = pagina1_cotacao_02[pagina1_cotacao_02['indice01'].str.contains('Descrição\r')]
descricao_material1 = descricao_material1['indice01'].str.replace('Descrição\r','')
descricao_material1 = descricao_material1.reset_index(drop=True)
#Preço_Unitário - FIltragem de preço unitário da tabela1
preco_unitario1 = pagina1_cotacao_02[pagina1_cotacao_02['indice04'].str.len() > 0]
preco_unitario1 = pagina1_cotacao_02['indice04'].str.contains('Preço Unitário sem I\r')
preco_unitario1 = pagina1_cotacao_02['indice04'].str.replace('Preço Unitário sem I\r','')
preco_unitario1 = preco_unitario1[preco_unitario1.str.len() > 0]
preco_unitario1 = preco_unitario1[~preco_unitario1.str.contains('Emb.\r')]
preco_unitario1 = preco_unitario1.reset_index(drop=True)
preco_unitario1 = preco_unitario1.apply(lambda x: str(x).replace(",","."))
preco_unitario1 = preco_unitario1.astype('float64')
#Preço total - fitragem de preço total
preco_total1 = pagina1_cotacao_02[pagina1_cotacao_02['indice05'].str.len() > 0]
preco_total1 = pagina1_cotacao_02['indice05'].str.contains('I Preço Total\r')
preco_total1 = pagina1_cotacao_02['indice05'].str.replace('I Preço Total\r','')
preco_total1 = preco_total1[preco_total1.str.len() > 0]
preco_total1 = preco_total1[~preco_total1.str.contains('Qtde.\r')]
preco_total1 = preco_total1.reset_index(drop=True)
preco_total1 = preco_total1.apply(lambda x: str(x).replace(".",""))
preco_total1 = preco_total1.apply(lambda x: str(x).replace(",","."))
preco_total1 = preco_total1.astype('float64')
#mesclando os dados atrávés de cada indice formando uma tabela
df_mesclar07= descricao_material1.to_frame().merge(preco_unitario1,left_index=True,right_index=True)
df_mesclar07= descricao_material1.to_frame().merge(preco_unitario1,left_index=True,right_index=True)
Tabela_07= df_mesclar07.merge(preco_total1,left_index=True,right_index=True)
Tabela_07['indice02'] = Tabela_07['indice05'] / Tabela_07['indice04']
display(Tabela_07)

                          indice01  indice04  indice05  indice02
0  FURADEIRA IMPACTO 1/2 220V 900W   328.175   9845.25      30.0
1        BOLSA PARA FERRAMENTAS 12   184.850   5545.50      30.0
2            BROCA PARA ACO 3.0 MM     2.905    174.30      60.0
3            BROCA PARA ACO 4.0 MM     3.107    186.42      60.0
4            BROCA PARA ACO 6.0 MM     4.672    280.32      60.0
5            BROCA PARA ACO 8.0 MM     8.320    499.20      60.0
6           BROCA PARA ACO 10.0 MM    13.800    828.00      60.0
7           BROCA PARA ACO 12.0 MM    20.004   1200.24      60.0

#PAGINA_08_TRAMONTINA

In [9]:
#Leitura do pdf
lista8_cotacao_02 = tabula.read_pdf(r"C:\Users\Hely Ribeiro Menezes\Documents\One Engenharia\Colab Notebooks\COTAÇAO_FERRAMENTAS\cdp19023051109003634960000000.pdf", pages="8")
pagina8_cotacao_02 = lista8_cotacao_02[0]
pagina8_cotacao_02.columns = ['indice01','indice02','indice03','indice04','indice05','indice06','indice07','indice08','indice09','indice10']
#Descrição material - Filtragem de descirção somente da tabela 01
descricao_material8 = pagina8_cotacao_02[pagina8_cotacao_02['indice01'].str.contains('Descrição\r')]
descricao_material8 = descricao_material8['indice01'].str.replace('Descrição\r','')
descricao_material8 = descricao_material8.reset_index(drop=True)
#Preço_Unitário - FIltragem de preço unitário da tabela1
preco_unitario8 = pagina8_cotacao_02[pagina8_cotacao_02['indice04'].str.len() > 0]
preco_unitario8 = pagina8_cotacao_02['indice04'].str.contains('Preço Unitário sem I\r')
preco_unitario8 = pagina8_cotacao_02['indice04'].str.replace('Preço Unitário sem I\r','')
preco_unitario8 = preco_unitario8[preco_unitario8.str.len() > 0]
preco_unitario8 = preco_unitario8[~preco_unitario8.str.contains('Emb.\r')]
preco_unitario8 = preco_unitario8.reset_index(drop=True)
preco_unitario8 = preco_unitario8.apply(lambda x: str(x).replace(",","."))
preco_unitario8 = preco_unitario8.astype('float64')
#Preço total - fitragem de preço total
preco_total8 = pagina8_cotacao_02[pagina8_cotacao_02['indice05'].str.len() > 0]
preco_total8 = pagina8_cotacao_02['indice05'].str.contains('I Preço Total\r')
preco_total8 = pagina8_cotacao_02['indice05'].str.replace('I Preço Total\r','')
preco_total8 = preco_total8[preco_total8.str.len() > 0]
preco_total8 = preco_total8[~preco_total8.str.contains('Qtde.\r')]
preco_total8 = preco_total8.reset_index(drop=True)
preco_total8 = preco_total8.apply(lambda x: str(x).replace(".",""))
preco_total8 = preco_total8.apply(lambda x: str(x).replace(",","."))
preco_total8 = preco_total8.astype('float64')
#mesclando os dados atrávés de cada indice formando uma tabela
df_mesclar08= descricao_material8.to_frame().merge(preco_unitario8,left_index=True,right_index=True)
df_mesclar08= descricao_material8.to_frame().merge(preco_unitario8,left_index=True,right_index=True)
Tabela_08= df_mesclar08.merge(preco_total8,left_index=True,right_index=True)
Tabela_08['indice02'] = Tabela_08['indice05'] / Tabela_08['indice04']
display(Tabela_08)

                              indice01  indice04  indice05    indice02
0                   LIMA PARA ENXADA 8   24.9700    749.10   30.000000
1    DISCO DE DESBASTE PARA ACOS 4.1/2    4.9858    299.15   60.000401
2        DISCO DE CORTE PARA ACO 4.1/2    3.3258    997.75  300.003007
3                  ALICATE UNIVERSAL 8   20.8700   1252.20   60.000000
4  TORQ. ESTALO P/ BITS 1/4  - 3-15N.M  763.4700  22904.10   30.000000
5                 MARTELO DE UNHA 34MM   40.0383   1201.15   30.000025
6    CAVADEIRA TIPO LIGHT C/CABO 145CM   78.8000   2364.00   30.000000
7  ENXADA LARGA CANAV 2,5 C/CABO 145CM   40.7100   1221.30   30.000000

#PAGINA_09_TRAMONTINA

In [10]:
#Leitura do pdf
lista9_cotacao_02 = tabula.read_pdf(r"C:\Users\Hely Ribeiro Menezes\Documents\One Engenharia\Colab Notebooks\COTAÇAO_FERRAMENTAS\cdp19023051109003634960000000.pdf", pages="9")
pagina9_cotacao_02 = lista9_cotacao_02[0]
pagina9_cotacao_02.columns = ['indice01','indice02','indice03','indice04','indice05','indice06','indice07','indice08','indice09','indice10']
#Descrição material - Filtragem de descirção somente da tabela 01
descricao_material9 = pagina9_cotacao_02[pagina9_cotacao_02['indice01'].str.contains('Descrição\r')]
descricao_material9 = descricao_material9['indice01'].str.replace('Descrição\r','')
descricao_material9 = descricao_material9.reset_index(drop=True)
#Preço_Unitário
preco_unitario9 = pagina9_cotacao_02[pagina9_cotacao_02['indice04'].str.len() > 0]
preco_unitario9 = pagina9_cotacao_02['indice04'].str.contains('Preço Unitário sem I\r')
preco_unitario9 = pagina9_cotacao_02['indice04'].str.replace('Preço Unitário sem I\r','')
preco_unitario9 = preco_unitario9[preco_unitario9.str.len() > 0]
preco_unitario9 = preco_unitario9[~preco_unitario9.str.contains('Emb.\r')]
preco_unitario9 = preco_unitario9.reset_index(drop=True)
preco_unitario9 = preco_unitario9.apply(lambda x: str(x).replace(",","."))
preco_unitario9 = preco_unitario9.astype('float64')
#Preço total - fitragem de preço total
preco_total9 = pagina9_cotacao_02[pagina9_cotacao_02['indice05'].str.len() > 0]
preco_total9 = pagina9_cotacao_02['indice05'].str.contains('I Preço Total\r')
preco_total9 = pagina9_cotacao_02['indice05'].str.replace('I Preço Total\r','')
preco_total9 = preco_total9[preco_total9.str.len() > 0]
preco_total9 = preco_total9[~preco_total9.str.contains('Qtde.\r')]
preco_total9 = preco_total9.reset_index(drop=True)
preco_total9 = preco_total9.apply(lambda x: str(x).replace(".",""))
preco_total9 = preco_total9.apply(lambda x: str(x).replace(",","."))
preco_total9 = preco_total9.astype('float64')
#mesclando os dados atrávés de cada indice formando uma tabela
df_mesclar09= descricao_material9.to_frame().merge(preco_unitario9,left_index=True,right_index=True)
df_mesclar09= descricao_material9.to_frame().merge(preco_unitario9,left_index=True,right_index=True)
Tabela_09= df_mesclar09.merge(preco_total9,left_index=True,right_index=True)
Tabela_09['indice02'] = Tabela_09['indice05'] / Tabela_09['indice04']
display(Tabela_09)

                            indice01  indice04  indice05   indice02
0  ENXADAO ESTREITO 2,5 C/CABO 130CM   46.3200   1389.60  30.000000
1             PA DE BICO C/CABO 71CM   22.8900    686.70  30.000000
2            MARRETA OITAVADA 3.000G  141.5800   4247.40  30.000000
3                      TALHADEIRA 10   21.8367    655.10  29.999954
4            SERROTE PROFISSIONAL 20   34.1583   1024.75  30.000029
5                        ESQUADRO 12   37.3200   1119.60  30.000000
6            CH.VELA 16MM E MANIPULO   25.5533    766.60  30.000039
7       MANGUEIRA CRISTAL 5/16  50 M   33.0000     33.00   1.000000

#PAGINA_10_TRAMONTINA

In [11]:
#Leitura do pdf
lista10_cotacao_02 = tabula.read_pdf(r"C:\Users\Hely Ribeiro Menezes\Documents\One Engenharia\Colab Notebooks\COTAÇAO_FERRAMENTAS\cdp19023051109003634960000000.pdf", pages="10")
pagina10_cotacao_02 = lista10_cotacao_02[0]
pagina10_cotacao_02.columns = ['indice01','indice02','indice03','indice04','indice05','indice06','indice07','indice08','indice09','indice10']
#Descrição material - Filtragem de descirção somente da tabela 01
descricao_material10 = pagina10_cotacao_02[pagina10_cotacao_02['indice01'].str.contains('Descrição\r')]
descricao_material10 = descricao_material10['indice01'].str.replace('Descrição\r','')
descricao_material10 = descricao_material10.reset_index(drop=True)
#Preço_Unitário - FIltragem de preço unitário da tabela1
preco_unitario10 = pagina10_cotacao_02[pagina10_cotacao_02['indice04'].str.len() > 0]
preco_unitario10 = pagina10_cotacao_02['indice04'].str.contains('Preço Unitário sem I\r')
preco_unitario10 = pagina10_cotacao_02['indice04'].str.replace('Preço Unitário sem I\r','')
preco_unitario10 = preco_unitario10[preco_unitario10.str.len() > 0]
preco_unitario10 = preco_unitario10[~preco_unitario10.str.contains('Emb.\r')]
preco_unitario10 = preco_unitario10.reset_index(drop=True)
preco_unitario10 = preco_unitario10.apply(lambda x: str(x).replace(",","."))
preco_unitario10 = preco_unitario10.astype('float64')
#Preço total - fitragem de preço total
preco_total10 = pagina10_cotacao_02[pagina10_cotacao_02['indice05'].str.len() > 0]
preco_total10 = pagina10_cotacao_02['indice05'].str.contains('I Preço Total\r')
preco_total10 = pagina10_cotacao_02['indice05'].str.replace('I Preço Total\r','')
preco_total10 = preco_total10[preco_total10.str.len() > 0]
preco_total10 = preco_total10[~preco_total10.str.contains('Qtde.\r')]
preco_total10 = preco_total10.reset_index(drop=True)
preco_total10 = preco_total10.apply(lambda x: str(x).replace(".",""))
preco_total10 = preco_total10.apply(lambda x: str(x).replace(",","."))
preco_total10 = preco_total10.astype('float64')
#mesclando os dados atrávés de cada indice formando uma tabela
df_mesclar10= descricao_material10.to_frame().merge(preco_unitario10,left_index=True,right_index=True)
df_mesclar10= descricao_material10.to_frame().merge(preco_unitario10,left_index=True,right_index=True)
Tabela_10= df_mesclar10.merge(preco_total10,left_index=True,right_index=True)
Tabela_10['indice02'] = Tabela_10['indice05'] / Tabela_10['indice04']
display(Tabela_10)

                        indice01  indice04  indice05   indice02
0  PONTEIRA PONTA CRUZADA 8X80MM   17.3133    1558.2  90.000173
1    PONTEIRA PONTA CHATA 7X36MM   10.6933     962.4  90.000281

# UNINOS TODOS OS DATAFRAME E SALVANDO EM EXCEL

In [12]:
cotacao_02 = pd.concat([Tabela_01,Tabela_02,Tabela_03,Tabela_04,Tabela_05,Tabela_06,Tabela_07,Tabela_08,Tabela_09,Tabela_10],ignore_index=True)
display_html(cotacao_02)

,indice01,indice04,indice05,indice02
0,ALICATE CORTE DIAGONAL 6,20.8700,1252.2,60.000000
1,CH FENDA CHATA ISOLADA 3X150 1/8X6,8.0200,240.6,30.000000
2,CH FENDA CHATA ISOLADA 5X150 3/16X6,9.2400,277.2,30.000000
3,CH FENDA CHATA ISOLADA 6X200 -1/4X8,13.2400,397.2,30.000000
4,CH. FENDA CRUZ. ISOLADA 3X150 1/8X6,9.0500,271.5,30.000000
...,...,...,...,...
67,ESQUADRO 12,37.3200,1119.6,30.000000
68,CH.VELA 16MM E MANIPULO,25.5533,766.6,30.000039
69,MANGUEIRA CRISTAL 5/16 50 M,33.0000,33.0,1.000000
70,PONTEIRA PONTA CRUZADA 8X80MM,17.3133,1558.2,90.000173
71,PONTEIRA PONTA CHATA 7X36MM,10.6933,962.4,90.000281

In [13]:
dataframe_excel = pd.ExcelWriter('orcamento_Tramontina.xlsx')
cotacao_02.to_excel(dataframe_excel)
dataframe_excel.save()